/* le 19/01/2022*/
/*
#630063; : violet
#584900; : vert
#526899 : jolie bleu
#283747 : Sombre pied page
*/    

html, body {
margin:0;
padding:0;
}
/*Les h*/
h1 {
margin:0;
}
h2 {
color:#283747 ;
font-variant:small-caps;
letter-spacing:0.1em;
font-size:170%;
}

h3 a {
color:; 
text-decoration:none;
font-size:100%;
}
h4 {
font-size:125%;
font-style:italic;
}
h5 {
font-size:110%;
color:;
}
h6 {
font-size:110%
}
a {   
/*color:;*//*Couleur de tout ce qui est suceptible de renvoyer vers un lien*/
text-decoration:none;
}

/*--------- menu -----------ok*/
#menu {
display:none
}

/*--------- footer ----------ok*/
#footer {
border-top:1px solid black;
text-align:center;
font-size:90%;
padding:10px 0;
}
#footer dd {
margin-left:0;
}
#footer a {
color:#145A32;
font-weight:bold;
}
#footer a:after, #copy a:after {
 content: "";
}*/

