
/* rouge :#DF3F3F;
beige :#F3F2ED;
Couleur : pied de page : #CAC7BC
vert :#145A32
bleu menu :#AED6F1
couleur fond acceuil:  #145A32  ;
*/

#acceuil h1 a {
    font-family: arial;
}
.accueil {
margin:0;
padding:0;
}
h1 {
text-shadow:2px 2px 5px ;
max-width:960px;
margin:auto;
padding:10px 0 15px 0;
}
#chapelleAcceuil i h4 {
color:#145A32;
}

/*--------- header ----------ok*/
#accueil #header, 
#header {
margin-bottom:10px;
-moz-box-shadow:-6px 2px 6px 0 ;
-webkit-box-shadow:-6px 2px 6px ;
box-shadow:-6px 2px 6px 0 ;
}
#header h1 a {
text-decoration:none;
}
#header h1 span.diese {
font-size:1.6em
}

#header h1 abbr {
border:none;
}
#header ul {
max-width:960px;
min-width:800px;
margin:auto;
height:20px;
list-style-type:none;
text-align:center;
padding:5px 0 35px 0;
}
#header li {
font:1em SansationBold,'trebuchet ms', helvetica, arial, sans-serif bold;
font-variant:small-caps;
letter-spacing:0.06em;
float:left;
padding:0;
margin:0 10px 0 0;

-moz-border-radius:5px;
-webkit-border-radius:5px; 
border-radius:5px;
}
#header li.der {
border-right:1px solid transparent;
}
#header li a {
display:block;
width:150px;
text-decoration:none;
padding:6px 0;
color: #283747;   // Couleur des menus
opacity:0.5;
font-weight:bold; 
}
#accueilCV #header li.accueilCV a,
#tutos #header li.cantiquesCV a,
#contacterCV #header li.contacterCV a,
#enseignementsCV #header li.enseignementsCV a,
#histoireCV #header li.histoireCV  a,

#header li a:hover, 
#header li a:active, 
#header li a:focus {	
color: white ;   // Couleur des menus transition
opacity:1;
}
#accueilCV #header li.accueilCV,
#tutos #header li.cantiquesCV,
#contacterCV #header li.contacterCV,
#enseignementsCV #header li.enseignementsCV,
#histoireCV #header li.histoireCV,
#accueil #header li.enseignementsCV {
}
#accueil #header li.accueilCV {
    /*Couleur profonde au niveau de l'acceuil*/
background:;
opacity:0.9;
background-color: #1E8449 ;
}

#header li:hover ,
#accueilCV #header li.accueilCV:hover,
#tutos #header li.cantiquesCV:hover,
#contacterCV #header li.contacterCV:hover,
#enseignementsCV #header li.enseignementsCV:hover,
#histoireCV #header li.histoireCV:hover,
#accueil #header li.enseignementsCV:hover {
background-color: #145A32 ;
-moz-transition:background-color 0.3s linear;
-webkit-transition:background-color 0.3s linear;
-o-transition:background-color 0.3s linear;
-ms-transition:background-color 0.3s linear;
transition:background-color 0.3s linear;
}
#header p {
color:;
font-size:90%;
margin:0;
}
#header p a {
color:;
}
#header p a:hover {
color:;
}
#header p a:active, 
#header p a:focus {
color:;
}


body{
    text-align:left;
    text-align:center;
    font:0.9em "trebuchet ms", helvetica, arial, sans-serif;
    word-wrap: break-word;
}

header a{
background:; 
border:solid ;
border-width:1px 0;
}

/*-----------home---------------*/

#chapelleAcceuil #home h2 a {
color: #283747 !important;
text-decoration:none;
}
#chapelleAcceuil #home h2 a:hover, 
#chapelleAcceuil #home h2 a:active, 
#chapelleAcceuil #home h2 a:focus {
}

#chapelleAcceuil #home .cell {
display:table-cell;
width:40%;
padding:0px 2px;
}
#chapelleAcceuil #home .table {
display:table;
table-layout:fixed;
background:#F3F2ED; 
border:solid #145A32;
border-width:2px 0;
margin:0px 0 30px 0;
}

/*Couleur des deux element acceuil*/
#chapelleAcceuil #home .cell:hover {
    /*Couleur transition sur les deux blocs*/
background:white; 
-moz-transition:background 1.75s linear;
-webkit-transition:background 1.75s linear;
-o-transition:background 1.75s linear;
transition:background 1.75s linear;
}

#chapelleAcceuil #home h2:first-letter, 
#edito h2:first-letter {
font-size:150%;
text-shadow:1px 1px 1px ;
}


/*--------- menu -----------*/
/*#menu {
position:absolute;
top:35px;
right:0;
text-align:left;
font-size:90%;
color:;
max-width:240px;
}
#menu a {
text-decoration:none;
color:;
display:block;
}
#menu li a {
padding-left:5px;
}
#menu li a:hover, 
#menu li a:active, 
#menu li a:focus {
background-color:;
}
#menu ul {
list-style:none; 
list-style-image:none; 
padding-left:0; 
}
#menu li {
line-height:2.2em;
border-top:1px dotted ;
border-bottom:1px dotted ;
}
#menu li:hover, 
#menu li:active, 
#menu li:focus {
background-color:red;
}*/
#menu li + li {
border-bottom:1px dotted ;
border-top:none
}

border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
}
#menu h2 a {
color: ;
}
#menu h2 a:hover, 
#menu h2 a:active, 
#menu h2 a:focus {
}

/* -------------recherche----------- */
#search fieldset {
width:180px;
border:none;
margin:0 auto /*50px*/ 5px auto
}


/*--------- footer ok----------*/
#footer {
clear:both;
text-align:center;
font-size:90%; 
line-height:1.5em;
margin:0;
padding:10px 0 10px 0;
background:url(images/) repeat-x right bottom;
}
#footer p {
color:!important;
padding-bottom:20px
}
#footer a {
color: ;
}
#footer a:hover {
text-decoration:none;
}
/*Corret*/
#footer section {
display:inline-block; 
vertical-align:top;
text-align:left; 
width:220px; 
padding-left:80px
}
#footer section li {
color:;
list-style-type:none;
margin-left:-40px;
}
#footer section dd,
#footer section dt {
color: #145A32 ;
}
#footer section dd {
margin-left:0;
margin-bottom:1.5em;
}

.pelouse {
border-top:5px double #145A32;
background:url(images/) no-repeat right bottom, 
-moz-linear-gradient(#CAC7BC, white);
background:url(images/) no-repeat right bottom, 
-webkit-linear-gradient(#CAC7BC, white);
background:url(images/) no-repeat right bottom, 
-o-linear-gradient(#CAC7BC, white);
background:url(images/) no-repeat right bottom, 
-ms-linear-gradient(#CAC7BC, white);
background:url(images/) no-repeat right bottom, 
linear-gradient(#CAC7BC, white);
background-color:#145A32;
}
